@import "./variables";
@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
@mixin color-white {
  & .card__author {
    color: $white;
  }
  & .card__main-quote {
    color: $white;
  }
  & .card__additional-quote {
    color: $white;
    opacity: 70%;
  }
}
// Mobile First
body {
  background-color: $light-grayish-blue;
  margin: 0;
  padding: 0;
  min-height: 100svh;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}
.five-cards {
  @include flex-center(column);
}
.card {
  @include flex-center(column);
  border-radius: 10px;
  padding: 1.95rem;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1.3rem;
  max-width: 22rem;
  font-weight: $fw-medium;
}
.card__header {
  @include flex-center(row);
  padding-bottom: 1rem;
}
.card__author {
  font-size: 0.7rem;
  font-weight: $fw-medium;
}
.card__image {
  vertical-align: middle;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: 2px solid $white;
  margin-right: 1rem;
}

.card__graduate-status {
  opacity: 50%;
}

.card--daniel {
  background-color: $moderate-violet;
  & .card__image {
    border-color: #a775f1;
  }
  background-image: url("/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 1.5rem;
  background-size: 7rem 7.4rem;
  & .card__additional-quote {
    padding-right: 1.6rem;
  }
  @include color-white();
}
.card--jonathan {
  background-color: $very-dark-grayish-blue;
  & .card__image {
    border-color: rgb(180, 178, 178);
  }
  @include color-white();
}
.card--jeanette {
  background-color: $white;
}
.card--patrick {
  background-color: $very-dark-blackish-blue;
  & .card__image {
    border-color: $moderate-violet;
  }
  @include color-white();
}
.card--kira {
  background-color: $white;
}

.card__main-quote {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.card__additional-quote {
  opacity: 70%;
  padding-right: 0.7rem;
  font-weight: $fw-medium;
  font-size: 0.865rem;
}
// Desktop Design
@media (min-width: 56rem) {
  body {
    @include flex-center(column);
  }
  .five-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 25px;
    max-width: 1200px;
  }
  .card {
    margin: 0;
    width: 100%; /* Ensures card fills the grid column width */
    height: 100%; /* Ensures card fills the grid row height */
    max-width: 39rem;
    padding: 2.05rem;
  }
  .card--daniel {
    grid-column: 1/3;
    grid-row: 1;
    background-position: top right 5rem;
    background-size: auto 7.5rem;
  }
  .card--jonathan {
    grid-column: 3;
    grid-row: 1;
  }
  .card--jeanette {
    grid-column: 1;
    grid-row: 2;
  }
  .card--patrick {
    grid-column: 2/4;
    grid-row: 2;
    & .card__additional-quote {
      padding-right: 1.15rem;
    }
  }
  .card--kira {
    grid-column: 4;
    grid-row: 1/3;
  }
}
